<!-- <ion-header>
  <ion-toolbar>
    <ion-title>contract</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

  <div class="ion-text-center" style="margin-top: 40px;">
    <ion-text>
      <h3>SERVICIOS FOTOGRÁFICOS<br></h3>
      <h6>Seleccione los servicios que requiera para su sesión fotográfica.</h6>
    </ion-text>
  </div>

  <!-- <form> -->

    <ion-list>
      <ion-radio-group [(ngModel)]="styleVal">
        <ion-list-header>
          <ion-label>Estilo Fotográfico</ion-label>
        </ion-list-header>
    
        <ion-item *ngFor="let style of styles">
          <ion-label>{{style.name}}</ion-label>
          <ion-radio slot="start" value="{{style.value}}"></ion-radio>
        </ion-item>

      </ion-radio-group>

      <ion-radio-group [(ngModel)]="placeVal">
        <ion-list-header>
          <ion-label>Locación</ion-label>
        </ion-list-header>
    
        <ion-item *ngFor="let place of places">
          <ion-label class="ion-text-wrap"><strong>{{place.name}}</strong><br/>{{place.des}}</ion-label>
          <ion-radio slot="start" value="{{place.value}}"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

  <!-- </form> -->
  

</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 5% 3% 8% 3%;">
    <ion-buttons slot="start" style="margin-left: 5%;">
      <ion-button (click)="onCancel()" fill="outline" shape="round">
        <ion-label class="ion-padding">Cancelar</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-right: 5%;">
      <ion-button (click)="onAccept()"fill="outline" shape="round">
        <ion-label class="ion-padding">Solicitar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
