
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center">
    <h2>Crear Nuevo Paquete Fotográfico</h2>
  </ion-text>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="stacked">Género Fotográfico</ion-label>
      <ion-input type="text" 
                 placeholder="Nombre"
                 [(ngModel)]="genre"></ion-input>
    </ion-item>
  </ion-card>
  
  <!-- <ion-card>
    <ion-item lines="none">
      <ion-label position="stacked">Nivel del fotografo</ion-label>
      <ion-select placeholder="Seleccionar" interface="action-sheet" [(ngModel)]="photographerLevel">
        <ion-select-option value="photographer1">Fotógrafo Nivel 1</ion-select-option>
        <ion-select-option value="photographer2">Fotógrafo Nivel 2</ion-select-option>
        <ion-select-option value="photographer3">Fotógrafo Nivel 3</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card> -->

  <ion-card>
    <ion-item lines="none"> 
      <ion-label position="stacked">Paquete fotográfico</ion-label>
      <ion-select placeholder="Seleccionar" interface="action-sheet" [(ngModel)]="package">
        <ion-select-option value="Paquete 1">Paquete 1</ion-select-option>
        <ion-select-option value="Paquete 2">Paquete 2</ion-select-option>
        <ion-select-option value="Paquete 3">Paquete 3</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="stacked">Tiempo máximo</ion-label>
      <ion-input placeholder="Horas" 
                 inputmode="numeric" 
                 type="number" 
                 [(ngModel)]="duration"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="stacked">Cambios de vestuario</ion-label>
      <ion-input type="text" 
                 inputmode="numeric" 
                 placeholder="Cantidad"
                 [(ngModel)]="clothing"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="stacked">Locación</ion-label>
      <ion-item lines="none" *ngFor="let location of locations">
        <ion-label>{{location.name}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="location.isChecked"></ion-checkbox>
      </ion-item>
    </ion-item>
  </ion-card>


  <ion-text>
    <h4>Entregables</h4>
  </ion-text>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="stacked">Fotografías digitales</ion-label>
      <ion-input type="number" 
                 inputmode="numeric" 
                 placeholder="Unidades"
                 [(ngModel)]="digitalPhotos"></ion-input>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item lines="none">
      <ion-label position="stacked">Fotografías impresas</ion-label>
      <ion-input type="number" 
                 inputmode="numeric" 
                 placeholder="Unidades"
                 [(ngModel)]="phisicalPhotos"></ion-input>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item lines="none">
      <ion-label position="stacked">Photobook</ion-label>
      <ion-select value="{{val2}}" interface="action-sheet" [(ngModel)]="photobook">
        <ion-select-option value="{{val1}}">Si</ion-select-option>
        <ion-select-option value="{{val2}}">No</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none" >
      <ion-label position="stacked">Precios</ion-label>
      <ion-item lines="none"  *ngFor="let price of prices">
        <ion-label class="ion-text-wrap">{{price.name}}</ion-label>
        <ion-input slot="end" 
                   type="number" 
                   inputmode="decimal" 
                   placeholder="Dólares"
                   [(ngModel)]="price.val"></ion-input>
      </ion-item>
    </ion-item>
  </ion-card>
  

    <div class="ion-padding">
      <ion-button (click)="onSave()" expand="block" shape="round">
        Guardar
      </ion-button>
    </div>

</ion-content>