<ion-header class="ion-no-border">

  <ion-title>Title</ion-title>

</ion-header>

<ion-content class="ion-padding">

  <ion-slides #slideWelcome>
    <ion-slide>
      <form (ngSubmit)="onSubmit(fWelcome1)" #fWelcome1="ngForm" style="width: 100%; height: 100%;" class="ion-padding">

        <h1 class="ion-text-center">Registro de <br>fotógrafos</h1>
        <p>Estamos agradecidos por tenerte aquí. Ahora vamos a configurar tu perfil.</p>
      
         <ion-grid>
           <ion-row>
             <ion-col size="12">
              <ion-label class="ion-margin">Información Personal</ion-label>
              <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input name="name"
                           type="text"
                           [(ngModel)]="user.name"></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-label>Género</ion-label>
                <ion-select placeholder="Selecionar">
                  <ion-select-option value="f">Femenino</ion-select-option>
                  <ion-select-option value="m">Masculino</ion-select-option>
                </ion-select>
              </ion-item>
    
              <ion-item>
                <ion-label position="stacked">Bio</ion-label>
                <ion-textarea name="bio"
                           type="text"></ion-textarea>
              </ion-item>
          
              <ion-item>
                <ion-label position="stacked">Número telefónico</ion-label>
                <ion-input name="phone"
                           type="tel"
                           maxlength="10"
                           [(ngModel)]="user.phone"></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="stacked">Dirección<br></ion-label>
                <ion-input name="address"
                type="text"
                [(ngModel)]="user.address"></ion-input>
              </ion-item>
              
           
             </ion-col>
           </ion-row>
         </ion-grid>

      </form>
    </ion-slide>

    <ion-slide>
      <div style="column-count: 1;">
      <ion-label class="ion-margin">Especialidades</ion-label>

      <ion-list>
        <ion-item lines="none" *ngFor="let entry of form">
          <ion-checkbox slot="start" [(ngModel)]="entry.isChecked" name="especialidad"></ion-checkbox>
          <ion-label>{{entry.val}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    </ion-slide>

    <ion-slide style="width: 100%;height: 100%;">
      <ion-grid>
        <ion-row>
          <ion-col size="12">

            <h1>Subir foto de perfil<br></h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-icon size="large" name="image-outline"></ion-icon>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-icon slot="start" 
              size="large" 
              name="caret-back" 
              class="ion-padding"
              *ngIf="slideCount != 0"
              (click)="slideToBack()">
    </ion-icon>
    <ion-icon slot="end" 
              size="large" 
              name="caret-forward" 
              class="ion-padding"
              *ngIf="slideCount < 2"
              (click)="slideToForward()">
    </ion-icon>
    <ion-button slot="end" 
                fill="outline" 
                shape="round" 
                style="padding-right: 15px" 
                *ngIf="slideCount === 2"
                (click)="finish()">
      <ion-label>Finalizar</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
