
<ion-content [fullscreen]=true color="light">

  <div style="margin: 70px 0px 10px 20px;">
    <ion-text>
      <h1>Configuración</h1>
    </ion-text>
  </div>
    


  <ion-list>
    <ion-item lines="none" (click)="onProfile()" detail="true">
      <ion-avatar style="margin-right: 20px;">
        <img src={{user.photoURL}}>
      </ion-avatar>
      <ion-label>
        <h2>{{user.displayName}}</h2>
        <p>{{role}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- temporal admin y fotógrafos habilitados en opciones Administrador -->
  <div *ngIf="user.role === 'ADMIN' || user.role === 'PHOTOGRAPHER'">
    <div style="margin-left: 20px;">
      <h1></h1>
      <p style="margin-bottom: 0px; ">Opciones de administrador</p>
    </div>
  
    <ion-list lines="none">
      <ion-item [routerLink]="['/dashboard/app/settings/genres']">
        <ion-icon slot="start" name="folder-open-outline"></ion-icon>
        <ion-label>Géneros y paquetes fotográficos</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-button (click)="onLogOut()" expand="block" shape="round" class="ion-margin" color="medium" style="margin-top: 25px;">
    Cerrar sesión
  </ion-button>

</ion-content>
