<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Users  -->
  <app-portfolios [users]= "users"></app-portfolios>

  <!-- Infinite Scroll  -->

<ion-infinite-scroll [disabled]="!enable"
                     threshold="150px" 
                     (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
