<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="label">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label class="label">Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gallery">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label class="label">Galería</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label class="label">Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label class="label">Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>