<ion-content fullscreen>

  <ion-slides #slideWelcome>
    <ion-slide>
      <form #fWelcome1="ngForm" class="ion-padding">

        <h1 class="ion-text-center">Registro de <br>fotógrafos</h1>
        <p>Estamos agradecidos por tenerte aquí. Ahora vamos a configurar tu perfil.</p>
      
         <ion-grid>
           <ion-row>
             <ion-col size="12">
               <ion-list-header class="ion-padding">
                <ion-label>Información Personal</ion-label>
                 <!-- <ion-button>See All</ion-button> -->
               </ion-list-header>
              <ion-list>
                <ion-item>
                  <ion-icon slot="start" name="person-outline"></ion-icon>
                  <ion-input name="name"
                            type="text"
                            placeholder="Nombre"
                            [(ngModel)]="displayName"></ion-input>
                </ion-item>
      
                <!-- <ion-item>
                  <ion-label>Género</ion-label>
                  <ion-select placeholder="Selecionar">
                    <ion-select-option value="f">Femenino</ion-select-option>
                    <ion-select-option value="m">Masculino</ion-select-option>
                  </ion-select>
                </ion-item> -->
      
                <ion-item>
                  <ion-icon slot="start" name="document-text-outline"></ion-icon>
                  <ion-textarea name="bio"
                                type="text"
                                placeholder="Biografía"
                                [(ngModel)]="biography"></ion-textarea>
                </ion-item>
            
                <ion-item>
                  <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
                  <ion-input name="phone"
                            type="tel"
                            placeholder="Número telefónico"
                            maxlength="10"
                            [(ngModel)]="phone"></ion-input>
                </ion-item>
                
                <ion-item>
                  <ion-icon slot="start" name="pin-outline"></ion-icon>
                  <ion-input disabled
                             placeholder="Ciudad"
                             name= "address" 
                             type="text"
                             [(ngModel)]="city"></ion-input>
                  <ion-button slot="end" (click)="openPicker()" fill="clear">
                    <ion-icon name="chevron-down"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
              
           
             </ion-col>
           </ion-row>
         </ion-grid>

      </form>
    </ion-slide>

    <ion-slide>
      <div class="ion-padding">
        <h1 class="ion-text-center">Registro de <br>fotógrafos</h1>
        <p>Selecciona los estilos fotográficos con los que te identificas.</p>

        <ion-grid >
          <ion-row>
            <ion-col size="12">
              <ion-list-header class="ion-padding">
                <ion-label>Estilos Fotográficos</ion-label>
              </ion-list-header>
              <ion-list>
                <ion-item lines="none" *ngFor="let photoStyle of photoStyles">
                  <ion-checkbox slot="start"  name="especialidad"></ion-checkbox>
                  <ion-label>{{photoStyle.name}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col size="12">
            <h1 class="ion-text-center">Registro de <br>fotógrafos</h1>
            <p>Selecciona tu imagen de perfil.</p>

            <div class="flex">
              <div class="img-box">
                <ion-avatar class="imgRedonda">
                  <img *ngIf="photoURL !undefined" [src]="photoURL">
                  <img *ngIf="photoURL === undefined" [src]="image">
                </ion-avatar>
                <ion-item lines="none" (click)="presentActionSheetPhotoProfile()">
                  <a style="margin: 0px 0px 17px 35px; font-size: 17px;">Editar</a>
                </ion-item>
              </div>
            </div>
          </ion-col>
        </ion-row>

            <!-- <ion-button (click)="addPhoto('library')" expand="block" color="tertiary" shape="round">
              <ion-icon size="large" name="image-outline"></ion-icon>
              <ion-label>Abrir la biblioteca</ion-label>
            </ion-button> 

            <ion-button (click)="addPhoto('camera')" expand="block" color="secondary" shape="round">
              <ion-icon size="large" name="camera-outline"></ion-icon>
              <ion-label>Tomar una foto</ion-label>
            </ion-button>  -->

            <!-- <ion-button (click)="uploadPhotoProfile()" expand="block" color="warning" shape="round">
              <ion-icon size="large" name="cloud-upload-outline"></ion-icon>
              <ion-label>Subir foto</ion-label>
            </ion-button>  -->

      </ion-grid>

    </ion-slide>

    <ion-slide>
      <div class="ion-padding">
        <h1 class="ion-text-center">Registro de <br>fotógrafos</h1>
        <p>Selecciona tu imagen de portada.</p>

        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="flex">
                <div class="img-box">
                  <ion-card>
                    <img *ngIf="coverPage !undefined" [src]="coverPage">
                    <img *ngIf="coverPage === undefined" [src]="imageCoverPage">
                  </ion-card>
                </div>
              </div>
              <div>
                <ion-item lines="none" (click)="presentActionSheetCoverPage()">
                  <a style="font-size: 17px;">Editar</a>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
            <!-- <ion-button (click)="addCoverPage('library')" expand="block" color="tertiary" shape="round">
              <ion-icon size="large" name="image-outline"></ion-icon>
              <ion-label>Abrir la biblioteca</ion-label>
            </ion-button> 

            <ion-button (click)="addCoverPage('camera')" expand="block" color="secondary" shape="round">
              <ion-icon size="large" name="camera-outline"></ion-icon>
              <ion-label>Tomar una foto</ion-label>
            </ion-button> 

            <ion-button (click)="uploadPhotoCoverPage()" expand="block" color="warning" shape="round">
              <ion-icon size="large" name="cloud-upload-outline"></ion-icon>
              <ion-label>Subir foto</ion-label>
            </ion-button>  -->

    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-icon slot="start" 
              size="large" 
              name="caret-back" 
              class="ion-padding"
              *ngIf="slideCount != 0"
              (click)="slideToBack()">
    </ion-icon>
    <ion-icon slot="end" 
              size="large" 
              name="caret-forward" 
              class="ion-padding"
              *ngIf="slideCount < 3"
              (click)="slideToForward()">
    </ion-icon>
    <ion-button slot="end" 
                fill="outline" 
                shape="round" 
                style="padding-right: 15px" 
                *ngIf="slideCount === 3"
                (click)="finish()">
      <ion-label>Finalizar</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
