<ion-content class="ion-padding">

  <ion-slides #slideWelcome>
    <ion-slide>
      <form #fWelcome1="ngForm" class="ion-padding">

        <h1 class="ion-text-center">Registro de <br>fotógrafos</h1>
        <p>Estamos agradecidos por tenerte aquí. Ahora vamos a configurar tu perfil.</p>
      
         <ion-grid>
           <ion-row>
             <ion-col size="12">
              <ion-label class="ion-margin">Información Personal</ion-label>
              <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input name="name"
                           type="text"
                           [(ngModel)]="displayName"></ion-input>
              </ion-item>
    
              <!-- <ion-item>
                <ion-label>Género</ion-label>
                <ion-select placeholder="Selecionar">
                  <ion-select-option value="f">Femenino</ion-select-option>
                  <ion-select-option value="m">Masculino</ion-select-option>
                </ion-select>
              </ion-item> -->
    
              <ion-item>
                <ion-label position="stacked">Bio</ion-label>
                <ion-textarea name="bio"
                              type="text"
                              [(ngModel)]="biography"></ion-textarea>
              </ion-item>
          
              <ion-item>
                <ion-label position="stacked">Número telefónico</ion-label>
                <ion-input name="phone"
                           type="tel"
                           maxlength="10"
                           [(ngModel)]="phone"></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="stacked">Dirección<br></ion-label>
                <ion-input name="address"
                type="text"
                [(ngModel)]="address"></ion-input>
              </ion-item>
              
           
             </ion-col>
           </ion-row>
         </ion-grid>

      </form>
    </ion-slide>

    <ion-slide>
      <div class="ion-padding">
        <h1>Estilos <br> fotográficos</h1>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-list>
                <ion-item lines="none" *ngFor="let entry of photoStyle">
                  <ion-checkbox slot="start" [(ngModel)]="entry.isChecked" name="especialidad"></ion-checkbox>
                  <ion-label>{{entry.val}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col size="12">
            <h1>Subir foto de perfil<br></h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="addPhoto('library')" expand="block" color="tertiary" shape="round">
              <ion-icon size="large" name="image-outline"></ion-icon>
              <ion-label>Abrir la biblioteca</ion-label>
            </ion-button> 

            <ion-button (click)="addPhoto('camera')" expand="block" color="secondary" shape="round">
              <ion-icon size="large" name="camera-outline"></ion-icon>
              <ion-label>Tomar una foto</ion-label>
            </ion-button> 

            <div class="flex">
              <div class="img-box">
                <ion-avatar class="imgRedonda">
                  <img *ngIf="photoURL !undefined" [src]="photoURL">
                  <img *ngIf="photoURL === undefined" [src]="imagePath">
                </ion-avatar>
              </div>
            </div>

            <ion-button (click)="uploadPhotoProfile()" expand="block" color="warning" shape="round">
              <ion-icon size="large" name="cloud-upload-outline"></ion-icon>
              <ion-label>Subir foto</ion-label>
            </ion-button> 

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <ion-slide>
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col size="12">
            <h1>Subir foto de portada<br></h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="addCoverPage('library')" expand="block" color="tertiary" shape="round">
              <ion-icon size="large" name="image-outline"></ion-icon>
              <ion-label>Abrir la biblioteca</ion-label>
            </ion-button> 

            <ion-button (click)="addCoverPage('camera')" expand="block" color="secondary" shape="round">
              <ion-icon size="large" name="camera-outline"></ion-icon>
              <ion-label>Tomar una foto</ion-label>
            </ion-button> 

            <div class="flex">
              <div class="img-box">
                <ion-card>
                  <img *ngIf="coverPage !undefined" [src]="coverPage">
                  <img *ngIf="coverPage === undefined" [src]="imageCoverPage">
                </ion-card>
              </div>
            </div>

            <ion-button (click)="uploadPhotoCoverPage()" expand="block" color="warning" shape="round">
              <ion-icon size="large" name="cloud-upload-outline"></ion-icon>
              <ion-label>Subir foto</ion-label>
            </ion-button> 

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-icon slot="start" 
              size="large" 
              name="caret-back" 
              class="ion-padding"
              *ngIf="slideCount != 0"
              (click)="slideToBack()">
    </ion-icon>
    <ion-icon slot="end" 
              size="large" 
              name="caret-forward" 
              class="ion-padding"
              *ngIf="slideCount < 3"
              (click)="slideToForward()">
    </ion-icon>
    <ion-button slot="end" 
                fill="outline" 
                shape="round" 
                style="padding-right: 15px" 
                *ngIf="slideCount === 3"
                (click)="finish()">
      <ion-label>Finalizar</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
